
#OS junk files
Thumbs.db
.DS_Store
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sdf
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.user
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
ipch/
*.[Oo]bj
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Ankh.NoLoad